ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}

div {

    display: flex;
    
    justify-content: center;
    
    }
    
     
    
img {
    
    width: 300px;
    
    }

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
